@import "../../../assets/styles/colors.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalPrice {
  color: $grey700;
  font-size: 18px;
}

.totalPriceIsDiscount {
  text-decoration: line-through;
}

.totalDiscountPrice {
  font-size: 20px;
  font-weight: bold;
}

.savedMoney {
  font-size: 18px;
  font-weight: bold;
}
