@import "../../../assets/styles/breakpoints.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-left: 30px;
}

@media (max-width: $xs) {
  .footer {
    flex-direction: column;
    padding-left: 0;
    align-items: center;
  }
}
