@import "../../../../assets//styles/colors.scss";
@import "../../../../assets//styles/variables.scss";

.container {
  position: relative;
  height: $headerHeight;
  width: 50px;
  margin-right: 10px;
}

.container:hover {
  background-color: transparentize($greyLight, 0.85);
}

.counter {
  position: absolute;
  bottom: 12px;
  right: 9px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 14px;
  height: 14px;
  border: 1px solid $primaryMain !important;
  border-radius: 50%;
  font-size: 10px;
  color: $primaryMain;
  background-color: $greyLight;
}
