@import "../../../../assets/styles/colors.scss";

.header {
  position: absolute;
  right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerCart {
  margin-right: 5px;
}

.button {
  border-color: $grey50 !important;
  color: $grey50 !important;
  text-transform: capitalize;
}
