@import "../../../../assets/styles/colors.scss";

.header {
  position: absolute;
  right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerCart {
  margin-right: 10px;
}

.button {
  border-color: $greyLight !important;
  color: $greyLight !important;
  text-transform: capitalize;
}
