@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/breakpoints.scss";

.header {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width: $sm) {
  .header {
    padding: 0 !important;
  }
}

.emptyButton {
  color: $greyDark !important;
  border-color: $greyDark !important;
  text-transform: capitalize;
}

.emptyButton:hover {
  border-color: $greyDark;
}
