@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/breakpoints.scss";

.container {
  width: 31.75%;
  display: flex;
  flex-direction: column;
  margin: 2rem 0.75rem 0;
  position: relative;

  &:hover {
    box-shadow: 0 5px 5px transparentize($black, 0.8);
  }

  @media all and (max-width: 988px) {
    width: 47%;
  }

  @media all and (max-width: $sm) {
    width: 100%;
  }
}

.profileContainer {
  width: 47.5%;

  @media all and (max-width: $lg) {
    width: 70%;
  }

  @media all and (max-width: $LAPTOP_BREAK_POINT) {
    margin: 1rem 0;
  }

  @media all and (max-width: 950px) {
    width: 100%;
  }
}

.link {
  width: 100%;
  padding: 1rem 2rem 2rem;
}

.rating {
  margin-top: 0.8rem;
  align-self: flex-start;

  @media (max-width: 640px) {
    margin-top: 2rem;
    align-self: center;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.image {
  width: 18rem !important;
  height: 18rem;
  align-self: center;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  margin: 1.5rem 0 2rem;

  @media (max-width: 640px) {
    align-items: center;
  }

  @media all and (max-width: $LAPTOP_BREAK_POINT) and (min-width: $sm) {
    margin-bottom: 7rem;
  }
}

.title {
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
  color: $indigo700;
  margin-bottom: 1rem;
}

.price {
  display: flex;
  flex-direction: row;
  padding-left: 0 !important;
  margin-top: auto;

  @media all and (max-width: $LAPTOP_BREAK_POINT) and (min-width: $sm) {
    position: absolute;
    bottom: 2rem;
    flex-direction: column-reverse;
    align-items: flex-start !important;
    padding: 0 !important;
  }
}

.addButton {
  position: absolute;
  right: 0.8rem;
  bottom: 1.7rem;
}

.crossedPrice {
  font-size: 1.6rem !important;
  text-decoration: line-through;
}

.discountPrice {
  margin: 0 !important;

  @media all and (max-width: $sm) {
    font-size: 2.4rem !important;
  }
}

.discountLabel {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}
