.addressCard {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.paragraph {
  display: block;
}

.country {
  margin-top: 10px !important;
}

.iconButton {
  margin-left: auto !important;
}
