@import "../../../assets/styles/breakpoints.scss";

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  @media all and (max-width: 988px) {
    width: 103%;
  }

  @media all and (max-width: $LAPTOP_BREAK_POINT) {
    width: 101%;
  }

  @media all and (max-width: $sm) {
    width: 100%;
  }
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
  width: 100%;
}

.title {
  text-align: center;
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
