.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.title {
  text-align: center;
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
