.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.found {
  align-self: flex-end;
}

.pagination {
  margin-top: 3rem;
  // margin-bottom: 10rem;
  align-self: center;
}

.cardsContainer {
  width: 100%;
}

@media (max-width: 540px) {
  .searchBlock {
    flex-direction: column;
    align-items: stretch;
  }

  .filter {
    margin-right: 0 !important;
  }

  .search {
    margin-top: 2rem;
  }
}
