.comment {
  position: relative;
}

.btn {
  text-transform: "none";
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 8px;
}

.bottom {
  position: absolute !important;
  bottom: 6px;
  right: 10px;
}
