@import "../../assets/styles/colors.scss";
@import "../../assets/styles/breakpoints.scss";

.cardsContainer {
  position: relative;
  display: flex;
  width: calc(100% + 1.5rem);
  margin: -0.75rem;
}

.title {
  color: $primaryMain;
  margin: 2rem 0 !important;

  @media all and (max-width: $md) {
    font-size: 4rem !important;
  }

  @media all and (max-width: $sm) {
    font-size: 2.5rem !important;
  }
}
