@import "../../../../assets/styles/colors.scss";

.item {
  display: flex;
  align-items: center;
  padding: 20px;

  a {
    text-decoration: none;
    color: white;
  }
}

.item:hover {
  background-color: rgba(#fff, 0.15);
  cursor: pointer;
}
