.container {
  margin: 0 auto;
  width: 600px;
  text-align: center;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.smileIcon {
  height: 32;
  width: 32px;
}

.hello {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
