@import "../../assets/styles/colors.scss";
@import "../../assets/styles/breakpoints.scss";

.header {
  color: $grey700;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 2rem;
}

@media all and (max-width: $LAPTOP_BREAK_POINT) {
  .header {
    font-size: 26px;
  }
}
