@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";

.container {
  position: relative;
  box-sizing: border-box;
  padding: 60px 15px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: $greyLight;

  @media all and (min-width: 1000px) {
    padding-right: calc(50vw - 500px);
    padding-left: calc(50vw - 500px);
  }
}

.offset {
  padding-bottom: $bottomMenuHeight*2 + $bottomMenuOffset + 20px;
}
