@import "../../assets/styles/colors.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.modal {
  position: relative;
  width: 40%;
  max-width: 600px;
  min-width: 300px;
  box-shadow: 0 0 20px $grey700;
  background-color: $white;
  border-radius: 4px;
}

.cross {
  position: absolute !important;
  top: 5px;
  right: 5px;
}

.forms {
  padding: 40px;
  padding-top: 16px;
}

@media (max-width: 575px) {
  .forms {
    padding: 16px;
  }
}
