@import "../../../assets/styles/variables.scss";

.wrapper {
  display: flex;
  flex-grow: 1;

  & > * {
    width: 50%;
  }
}

.country {
  margin-right: 10px !important;
}

.building {
  margin-right: 10px !important;
}
