@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/breakpoints.scss";

.cardContainer {
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card {
  position: relative;
  width: 95%;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 20px;
  height: min-content;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: center;

  @media all and (max-width: $md) {
    justify-content: space-between;
    padding-right: 44px;
  }

  @media all and (max-width: $ml) {
    box-sizing: border-box;
    padding: 15px 0;
    height: min-content;
    align-items: center;
    flex-direction: column !important;
  }

  @media all and (max-width: $vs) {
    padding-right: 10px;
    width: 80%;
  }
}

.name {
  width: 28%;
  font-size: 16px !important;
  color: $greyDark;
}

.priceContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 160px;
}

.image {
  margin-right: 10px;
  max-width: 130px;
}

.trashIcon {
  position: absolute;
  right: 20px;
  color: $grey700;

  &:hover {
    cursor: pointer;
  }

  @media all and (max-width: $ml) {
    top: calc(50% - 18px);
  }

  @media all and (max-width: $vs) {
    right: -20px;
  }
}

@media all and (max-width: $md) {
  .name {
    width: unset;
  }
}

@media all and (max-width: $sm) {
  .image {
    top: 0;
    left: 10px;
  }
}

@media all and (max-width: $vs) {
  .name {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
  }

  .card {
    padding-right: 10px;
    width: 80%;
  }

  .cardContainer {
    justify-content: flex-start;
  }

  .image {
    top: 0;
    left: 0;
    margin: 0;
    position: relative;
  }
}

.crossedPrice {
  text-decoration: line-through;
}

.discountPrice {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

@media all and (max-width: 750px) {
  .crossedPrice {
    font-size: 16px !important;
  }

  .discountPrice {
    font-size: 16px !important;
    margin: 0;
  }
}
