@import "../../../assets/styles/colors.scss";

.appBar {
  padding: 0 !important;
  margin: 0 !important;
  height: 60px !important; // used in constants as HEADER_HEIGHT
  position: relative;
}

.logo {
  height: 100%;
}

.toolBar {
  min-height: 60px !important;
  height: 100%;
  box-sizing: border-box;
  max-width: 1280px !important;
}

.header {
  position: absolute;
  right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media all and (min-width: 1280px) {
  .toolBar {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}
