@import "../../../assets/styles/colors.scss";

.container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.appBar {
  background-color: $primaryMain !important;
}

.logo {
  width: 100px;
  height: 80px;
}
