@import "../../../assets/styles/colors.scss";

.cardName {
  color: $primaryMain;
}

.card {
  width: calc(1 / 3 * 100% - 10px);
  margin-right: 15px;
  padding: 10px 10px 20px;
  margin-top: 20px;
}

@media all and (max-width: 950px) {
  .card {
    width: calc(50% - 10px);
    margin-right: 20px;
  }

  .card:nth-of-type(3n) {
    margin-right: 20px !important;
  }

  .card:nth-of-type(2n) {
    margin-right: 0 !important;
  }
}

.card:nth-of-type(3n) {
  margin-right: 0;
}

@media all and (max-width: 600px) {
  .card {
    margin: 0;
    margin-top: 10px;
    width: 100%;
  }

  .card:nth-of-type(3n) {
    margin-right: 0 !important;
  }

  .card:nth-of-type(2n) {
    margin-right: 0 !important;
  }
}

.cardImage {
  width: 85% !important;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.cardActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  background-color: $primaryMain;
  text-transform: capitalize;
}
