@import "../../assets/styles/colors.scss";
@import "../../assets/styles/breakpoints.scss";

$defaultBreakPont: 768px;
$thumbnailsSizeLarge: 10rem;
$thumbnailsSizeMiddle: 7rem;
$thumbnailsSizeSmall: 5rem;

/* stylelint-disable */

.container {
  position: relative;
  margin: 0 auto 3rem;
  width: 100%;
  min-width: calc(100% - 2rem);
  height: 42rem;
  @media screen and (max-width: $sm) {
    height: 40rem;
    margin: 0 auto;
    min-width: 100%;
  }

  :global {

    .image-gallery {
      margin: 0 auto 3rem;
    }

    .image-gallery-slides {
      height: 40rem;
      margin-top: 1.6rem;
      @media screen and (max-width: $sm) {
        height: 30rem;
      }
    }

    .image-gallery-slide.single {
      margin-left: 5.5rem;

      @media screen and (max-width: $sm) {
        margin-left: 0;
      }
    }

    .image-gallery-bullets {
      bottom: -2rem;

      .image-gallery-bullet {
        background-color: $greyA400;
        border: $greyA400;
        width: 1.2rem;
        height: 1.2rem;
        margin: 0 0.3rem;
        box-shadow: none;

        &:hover {
          background-color: $indigo700;
        }

        &:focus {
          background-color: $indigo700;
          border: $indigo700;
        }

        &.active {
          background-color: $indigo700;
          border: $indigo700;
          transform: none;
        }
      }
    }

    .image-gallery-thumbnails {
      margin-top: 3.2rem;
      margin-left: 1rem;
      height: 38.4rem !important;
      transition: none;
      @media screen and (max-width: $sm) {
        margin-top: 0;
      }
      .image-gallery-thumbnail {
        border: 1px solid $greyA400;
        margin-top: 1.2rem !important;
        width: $thumbnailsSizeLarge;
        height: $thumbnailsSizeLarge;
        &:hover {
          cursor: pointer;
        }
        &-image {
          width: auto;
          max-height: calc(#{$thumbnailsSizeLarge - 0.6rem});
          max-width: calc(#{$thumbnailsSizeLarge - 0.6rem});
          @media screen and (max-width: $defaultBreakPont) {
            max-width: calc(#{$thumbnailsSizeMiddle - 0.6rem});
            max-height: calc(#{$thumbnailsSizeMiddle - 0.6rem});
          }
          @media screen and (max-width: $sm) {
            max-width: calc(#{$thumbnailsSizeSmall - 0.6rem});
            max-height: calc(#{$thumbnailsSizeSmall - 0.6rem});
          }
        }
        @media screen and (max-width: $defaultBreakPont) {
          width: $thumbnailsSizeMiddle;
          height: $thumbnailsSizeMiddle;
        }
        @media screen and (max-width: $sm) {
          width: $thumbnailsSizeSmall;
          height: $thumbnailsSizeSmall;
          margin-right: 0.6rem;
        }
      }
      .image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
        border: 3px solid $indigo700;
      }
    }

    .image-gallery-icon {
      color: $indigo700;
      filter: none;
    }

    .image-gallery-left-nav,
    .image-gallery-right-nav {
      &:disabled {
        color: $greyA400;
      }

      padding: 0;
      top: 0;
      left: -5.6rem;
      right: 0;
      transform: translateY(0) rotateZ(90deg);

      @media screen and (max-width: $defaultBreakPont) {
        left: -5.1rem;
      }      

      .image-gallery-svg {
        height: 4rem;
        width: 2rem;
      }
    }

    .image-gallery-right-nav {
      top: 98%;
    }
  }
}

.single {
  margin: 0 auto;
  @media screen and (max-width: $sm) {
    height: 31.6rem;
  }
}
/* stylelint-enable */
