.container {
  max-width: 62rem;
  margin: 6rem 0 1.6rem;
}

.formControl {
  width: 20ch;
  text-align: left;
  margin: 1.6rem !important;
}

.genderLabel {
  color: #00000061 !important;
}

.textField {
  margin: 1.6rem !important;
  width: 20ch;
}
