@import "../../../assets/styles/breakpoints.scss";

.container {
  width: 100%;
  margin: 4rem 0 1.6rem;
}

.genderLabel {
  color: #00000061 !important;
}

.textField {
  margin: 1.6rem !important;
  width: 90%;

  @media all and (max-width: $md) {
    margin: 1.6rem 0 !important;
    width: 100%;
  }
}

.formControl {
  text-align: left;
}
