@import "../../assets/styles/variables.scss";
@import "../../assets/styles/colors.scss";

.card {
  margin-top: 1rem;

  .title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $greyDark;

    .subTitle {
      padding: 1.6rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    .price {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      min-width: 200px;

      .crossedPrice {
        font-size: 1.6rem !important;
        text-decoration: line-through;
      }

      .discountPrice {
        margin: 0 !important;

        @media all and (max-width: $sm) {
          font-size: 2.4rem !important;
        }
      }
    }
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $greyDark;

    @media screen and (max-width: $sm) {
      flex-direction: column;
    }

    .buy {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      min-width: 200px;
      border-left: 1px solid $greyDark;
      padding-bottom: 3rem;

      @media screen and (max-width: $sm) {
        width: 100%;
        border-left: none;
        border-top: 1px solid $greyDark;
      }

      .seller {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem auto;

        .name {
          margin: 0 0.5rem 0 1rem;
          text-align: center;
          width: fit-content;
        }

        .personIcon {
          color: $white;
          background: $greyDark !important;
          margin: 0 1rem 0 0.5rem;
        }
      }
    }

    .images {
      flex-grow: 1;
      position: relative;

      .labelContainer {
        position: absolute !important;
        top: 0.8rem !important;
        right: 5rem !important;
      }
    }
  }

  .description {
    font-size: 1.6rem;
    padding: 2rem 3.5rem;
    align-items: flex-start;
  }
}
