@import "../../assets/styles/colors.scss";
@import "../../assets/styles/breakpoints.scss";

.page {
  width: 100%;
}

.emptyWishList {
  font-size: 40px !important;
  margin-top: 100px !important;
  color: $grey700;
  text-align: center;
}

.cardsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  @media all and (max-width: $lg) {
    justify-content: center;
  }
}
