@import "../../assets/styles/colors.scss";

.page {
  width: 100%;
}

.emptyWishList {
  color: $grey700;
  text-align: center;
  font-size: 40px !important;
  margin-top: 100px !important;
}

.cardsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
