@import "../../../assets/styles/variables.scss";

.card {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 10px;
  padding-right: 20px;
  height: min-content;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 16px !important;
  color: $greyDark;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  width: 60px;
  flex-shrink: 0;

  & > * {
    text-align: end;
  }
}

.image {
  object-fit: contain !important;
  margin-right: 10px;
  max-width: 130px;
  max-height: 130px;
}
