@import "../../../assets/styles/colors.scss";

.appbar {
  padding: 0;
  background-color: $greyMain;
  height: min-content;
  width: calc(100% + 30px);
}

@media all and (min-width: 1000px) {
  .appbar {
    width: calc(100% + 100vw - 1000px);
  }
}

.copyright {
  height: min-content;
}

.toolBar {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center !important;
}
