@import "../../assets/styles/breakpoints.scss";

.searchBlock {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.filter {
  margin-right: 10px !important;
}

.search {
  flex-grow: 1;
}

.row {
  display: flex;
  align-self: flex-end;
  margin-top: 20px;
}

.toggle {
  margin-right: 15px;
}

.found {
  align-self: flex-start;
  margin-top: 10px !important;
}

.pagination {
  margin-top: 30px;
  align-self: center;
}

.cardsContainer {
  width: calc(100% + 1.5rem);
}

@media (max-width: $ml) {
  .searchBlock {
    flex-direction: column;
    align-items: stretch;
  }

  .filter {
    margin-right: 0 !important;
  }

  .row {
    width: 100%;
    align-self: stretch;
  }

  .found {
    margin-top: 20px !important;
  }

  .search {
    margin-top: 20px;
  }
}

.onlyDiscountedCheckbox {
  @media all and (max-width: $ml) {
    margin-bottom: 10px;
  }
}
