@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/breakpoints.scss";

.collapseButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start !important;
  height: 70px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 14px !important;
  background-color: $grey100 !important;

  @media all and (max-width: $sm) {
    padding-left: 14px !important;
    padding-top: 18px !important;
  }
}

.dateInformation {
  display: flex;
  flex-direction: column;
}

.priceInformation {
  display: flex;
  flex-direction: row;
  align-items: flex-start !important;
}

.card {
  margin-bottom: 30px;
  width: 100%;
}

.orderDate {
  font-weight: bold !important;

  @media all and (max-width: $md) {
    font-size: 14px !important;
  }
}

.orderPrice {
  margin-right: 14px !important;
  margin-top: 8px !important;
  font-size: 22px !important;
  font-weight: 900 !important;

  @media all and (max-width: 450px) {
    margin: 0 !important;
    margin-top: 10px !important;
    font-size: 14px !important;
  }
}

.showMoreButton {
  margin-top: 10px;

  :hover {
    cursor: pointer;
  }
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;

  @media all and (max-width: $sm) {
    flex-direction: column;
    align-items: stretch;

    & > * {
      width: 100%;
    }
  }
}

.actionButton {
  text-transform: uppercase !important;
  box-sizing: border-box;
  font-size: 14px !important;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.deliveryDestination {
  font-weight: bold !important;

  @media all and (max-width: 450px) {
    font-size: 14px !important;
  }
}

.deliveryInformation {
  font-weight: bold !important;
  position: relative;
  display: flex;
  flex-direction: column;
}

.deliveryValue {
  font-weight: normal !important;
}

.description {
  display: flex;
  align-items: center;
  gap: 30px;

  @media all and (max-width: $sm) {
    flex-direction: column;
    align-items: center;
  }
}

.outerInformation {
  display: flex;
}

.deliveryMark {
  padding-left: 14px !important;
  padding-right: 14px !important;
  padding-top: 4px !important;
  font-size: 12px !important;
  vertical-align: middle;
  height: 26px;
  margin-left: 12px !important;
  border-radius: 20px;
  color: $greyLight;

  @media all and (max-width: $md) {
    margin: 0 !important;
    margin-left: 2px !important;
    margin-top: 4px !important;
    height: unset !important;
    padding: 7px !important;
    border-radius: 50% !important;
  }
}

.deliveryMark1 {
  padding-right: 20px;
  padding-left: 20px;
  background-color: $green500 !important;
}

.deliveryMark2 {
  padding-right: 20px;
  padding-left: 20px;
  background-color: $green500 !important;
}

.deliveryMark3 {
  background-color: $greyA400 !important;
}

.deliveryMark4 {
  background-color: $greyDark !important;
}

.sliderContainer {
  flex-shrink: 0;
  width: 220px !important;
  height: 100px !important;
  height: fit-content;
  margin-right: 20px;
  position: relative;

  path {
    color: black;
  }

  img {
    width: 80px !important;
    height: 90px;
    object-fit: contain !important;

    @media all and (max-width: $sm) {
      max-height: 350px !important;
      width: 100% !important;
      height: 100% !important;
    }
  }

  @media all and (max-width: $md) {
    width: 160px !important;
  }

  @media all and (max-width: $sm) {
    width: 80% !important;
    margin: 0 !important;
    height: auto !important;
    margin-top: 15px !important;

    svg {
      top: 150px !important;
    }
  }
}
