// ************************************
// Put here some shared color variables
// ************************************

// INDIGO
$indigo500: #3f51b5;
$indigo50: #e8eaf6;

// GREY
$greyMain: #9e9e9e;
$grey50: #fafafa;
// PRIMARY
$primaryMain: $indigo500;
//$primaryLight: ;
//$primaryDark: ;

// SECONDARY
//$secondaryMain: ;
//$secondaryLight: ;
//$secondaryDark: ;
