// ******************************
// Put here some shared variables
// ******************************

@import "./breakpoints.scss";
@import "./colors.scss";

$headerHeight: 60px; // used in constants as HEADER_HEIGHT
$bottomMenuHeight: 65px;
$bottomMenuOffset: -7px;
