@import "../../assets/styles/breakpoints.scss";
@import "../../assets/styles/colors.scss";

$headerHeight: 100px;

$footerHeightLarge: 100px;
$footerHeightSmall: 60px;

.title {
  text-transform: uppercase;
  font-size: 40px;
  color: $greyText;
  font-weight: 500;
  margin-bottom: -12px;
  letter-spacing: -1px;
}

.helperText {
  font-size: 20px;
  color: $greyText;
}

.container {
  text-align: center;
  height: calc(100vh - #{$headerHeight} - #{$footerHeightLarge});
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: $sm) {
    .title {
      font-size: 24px;
    }

    height: fit-content;
    min-height: calc(100vh - #{$headerHeight} - #{$footerHeightSmall});
  }
}
